.footer-end{
    position: relative;
    background-color: var(--bgColor);
    /* background-color: red; */
    height: 42.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    /* overflow-x: hidden; */
}
.copyright-end{
    width: 100%;
    /* background-color: red; */
    height: 6.1rem;
    font-family: 'aboreto';
    font-size: .8rem;
    justify-content: center;
    align-items: flex-end;
    color: gray;
}
.footer-end-icons{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    flex-direction: column;
    opacity: 0.8;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    z-index: 3000;
    bottom: 10rem;
    /* text-shadow:0 0 2px white; */
} 
.footer-end-icons span a{
    color: gray;
}
.footer-end-line{
    background-color: #d4d4d4;
    height: 1px;
    width: 5rem;
    position: relative;
    top: 1rem;

}
.hire-me-btn{
    width: 100%;
    height: 5rem;
    cursor: pointer;
    z-index: 3000;
}
.hire-me-btn button{
    cursor: pointer;
    background-color: #feffff;
    border: none;
    /* box-shadow:0 0 5px #ff1818; */
    color: #1a1a1d;
    font-family: 'canopee';
    font-size: 2.4rem;
    height: 3rem;
    letter-spacing: 2px;
    width: 15rem;
    z-index: 3000;
}
.hire-me-btn a{
    z-index: 3000;
    /* background-color: red; */
}
.footer-end-bg-img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -6rem;
    filter: invert(35%);
    opacity: 0.2;
}
.footer-end-bg-img img{
    height: 100%;
    width: 100%;
    animation: rotate 50s infinite linear;
    animation-direction: alternate;
}