.skills{
    height: 100vh;
    width: 100%;
}
.skills-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.skills-container img{
    transform: scale(0.75);
}