header{
    width: 100%;
    height: 8rem;
    /* position: fixed; */
    /* background-attachment: fixed; */
    background-color: var(--bgColor);
    /* background-color: black; */
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    /* background-color: red; */
}
.hamburger{
    width: 4.5rem;
    height: 4.5rem;
    /* background-color: green; */
    /* border: 1px solid white; */
    margin-right: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    cursor: pointer;
    display: flex;
}
.hamburger-black{
    background-color: #1a1a1dd9;
}
.hamburger-white{
    background-color: #feffff;
    transition: .6s ease-in-out;
}
.hamburger div:nth-child(1){
    height: 2px;
    width: 100%;
    /* box-shadow:0 0 8px purple; */
}
.ham1{
    transform: rotate(35deg);
    top: 16px;
    position: relative;
    transition: .6s ease-in-out;
}.ham3{
    transform: rotate(-35deg);
    top: -16px;
    transition: .6s ease-in-out;
    left: 4px;
    position: relative;
}
.ham2{
    opacity: 0;
}

.hamburger div:nth-child(2){
    height: 2px;
    width: 100%;
    margin-top: 14px;
}
.hamburger div:nth-child(3){
    height: 2px;
    margin-top: 14px;
    width: 100%;
}
.menu img{
    height: 100%;
    margin-right: 5rem;
    transform: rotate(90deg);
}
.menu ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.menu ul li{
    margin-right: 50px;
}
.menu ul li{
    text-decoration:none;
    font-family: 'aboreto';
    font-size: 1.1rem;
    font-weight: bold;
    color: #feffff;
    text-shadow: 0 0 2px rgba(245, 245, 245, 0.413);
}
.logo{
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}
.logo-box{
    background-color: #feffff;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'oswald';
    font-size: 2rem;
    font-weight: bold;
    color: var(--bgColor);
    margin-left: 40px;
    /* transform: rotate(45deg); */
}
.logo-name{
    font-family: 'aboreto';
    font-size: 1.1rem;
    font-weight: bold;
    color: #feffff;
    text-shadow: 0 0 2px rgba(245, 245, 245, 0.413);
    margin-left: 25px;
}
.music-player{
    z-index: 20;
    /* background-color: red; */
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.music-player img{
    cursor: pointer;
    filter: hue-rotate(250deg) saturate(200%);
    height: 100%;
    width: 100%;
    transform: scale(0.9);
}
.music-cross-line{
    position: absolute;
    background-color: #ff1818;
    height: 2px;
    width: 3.5rem;
    left: 8px;
    transform: rotate(-40deg);
    transition: 0.5s ease-in-out;
}
.nav-open{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    background-color: #d4d4d4;
    z-index: 2000;
    transition: .5s ease-in-out;
    opacity: 1;
}
.nav-close{
    top: -100%;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #d4d4d4;
    z-index: 2000;
}
.nav-item{
    /* background-color: red; */
    height: calc(100% - 8rem);
    width: 100%;
}
.nav-item p:nth-child(1) a,
.nav-item p:nth-child(2) a,
.nav-item p:nth-child(3) a{
    color: #313131;
    font-family: 'canopee';
    font-size: 8rem;
}
.current-line{
    background-color: #808080e3;
    width: 24rem;
    height: 14px;
    position: absolute;
    top: 12rem;
    left: 36rem;
}
.nav-item p:nth-child(4) a{
    color: #1a1a1d;
    font-family: 'editorial';
    text-transform: capitalize;
    position: relative;
    bottom: -5rem;
}


.display-none-music{
    transition: 0.5s ease-in-out;
    transform: rotate(0deg) scale(0);
}
@media screen and (max-width:730px) {
    .menu{
        display: none;
    }
    header{
        height:3.5rem;
        /* background-color: red; */
        align-items: flex-end;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    .logo-box{
        transform: scale(1);
        margin-left: 0;
        height: 3.5rem;
        width: 3.5rem;
    }

    .logo-name{
        display: none;
        font-size: 15px;
        margin-left: 5px;
    }
}