.social-icons{
    width: 100%;
    height: 2.5rem;
    /* border: 1px solid red; */
    background-color: var(--bgColor);
    user-select: none;
}
.no-opacity{
    opacity: 0;
}
.social-icons p{
    position: relative;
    width: 100%;
    /* top: 3rem; */
    /* opacity: 0; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff1818;
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
    /* text-shadow:0 0 2px white; */
}
.social-icons p span{
    height: 2px;
    width: 10rem;
    background-color: white;
    background-color: #ff1818;
    opacity: 0.9;
    /* box-shadow: 0 0 px red; */
}
.social-icons a{
    color: #ff1818;
    opacity: 0.9;
}

@media  screen and (max-width:371px) {
    .social-icons p{
        transform: scale(0.7);
    }
}