.App {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
}
html{
  scroll-behavior: smooth;
}
:root{
  --bgColor:#161616;
}
